<h1><%= @article.title %></h1>
<% unless @article.user.nil? %>
	<p>
		Escrito por: <%= @article.user.email %>
	</p>
<%end%>

<% unless @article.visits_count.nil? %>
	<p>
		Cantidad de visitas: <%= @article.visits_count %>
	</p>
<%end%>
<div>
	<%= @article.body %>
</div>
<div class="field">
	Nuevo Comentario:
	<%= render "comments/form"%>
</div>

<div class="field">
	<h3>Comentarios</h3>
	<ul id="comments-box">
		<% @article.comments.each do |comment|%>
			<li>
				<%= comment.body %> - <%= comment.user.email %> 
			</li>			
		<%end%>
	</ul>
</div>

<div>
	<%= link_to "Editar", edit_article_path(@article) %>
</div>