<h1>Arrancando la Magia 2</h1>

<% if user_signed_in? %>
	<h1>Bienvenido <%= current_user.email %></h1>
<% else %>
	<h1>Bienvenido a la Magia!</h1>
<%end%>

<h3>Artículos</h3>
<div class="field">
	 <%= link_to "Listado Artículos", articles_path %>
</div>
<div class="field">
	 <%= link_to "Nuevo Artículo", new_article_path %>
</div>
<h3>Categorías</h3>
<div class="field">
	 <%= link_to 'Listado Categorías', categories_path %>
</div>
<div class="field">
	 <%= link_to 'Nueva Categoría', new_category_path %>
</div>
<h3>Dashboard</h3>
<div class="field">
	 <%= link_to 'Dashboard Admin', dashboard_path %>
</div>